<section id="section-gift" class="py-14 px-5 bg-[#faf7f4] border-b border-[#e8d5c4]">

  <div class="text-center space-y-1 mb-6 reveal">
    <h2 class="font-playfair text-[22px] font-bold text-[#1c1917]">Tanda Kasih</h2>
    <div class="h-px w-10 bg-[#e8d5c4] mx-auto mt-1"></div>
  </div>

  <p class="text-center font-inter text-[11px] text-[#78716c] leading-relaxed mb-6 max-w-xs mx-auto reveal">
    Doa restu Bapak/Ibu/Saudara/i adalah hadiah terbaik. Namun jika ingin mengirimkan tanda kasih:
  </p>

  <div class="space-y-4 max-w-xs mx-auto">

    <!-- BSI Card -->
    <div class="bank-card bank-bsi reveal">
      <div class="flex items-center justify-between mb-3 relative z-10">
        <div>
          <p class="text-white/60 text-[9px] font-bold tracking-widest uppercase font-cinzel">Bank</p>
          <p class="text-white font-cinzel text-lg font-bold tracking-wider mt-0.5">BSI</p>
        </div>
        <div class="text-right">
          <p class="text-white/60 text-[9px] font-bold tracking-widest uppercase font-cinzel">Rizal Fahmi</p>
          <i class="fa-solid fa-mosque text-white/30 text-xl mt-1"></i>
        </div>
      </div>
      <div class="relative z-10 mb-3">
        <p class="text-white/50 text-[9px] font-cinzel tracking-widest uppercase mb-0.5">Nomor Rekening</p>
        <p class="font-cinzel text-[17px] font-bold text-white tracking-wider" id="rekFahmi">7309296804</p>
        <p class="text-white/60 text-[11px] font-inter mt-0.5">a.n. Rizal Fahmi</p>
      </div>
      <button id="btnCopyFahmi" class="bank-copy-btn relative z-10">
        <i class="fa-regular fa-copy text-xs"></i> Salin Nomor
      </button>
    </div>

    <!-- OVO Card -->
    <div
      class="bank-card bg-gradient-to-br from-[#4c2a86] to-[#301954] reveal p-5 rounded-2xl relative overflow-hidden shadow-md">
      <div class="flex items-center justify-between mb-3 relative z-10">
        <div>
          <p class="text-white/60 text-[9px] font-bold tracking-widest uppercase font-cinzel">E-Wallet</p>
          <p class="text-white font-cinzel text-lg font-bold tracking-wider mt-0.5">OVO</p>
        </div>
        <div class="text-right">
          <p class="text-white/60 text-[9px] font-bold tracking-widest uppercase font-cinzel">Rizal Fahmi</p>
          <i class="fa-solid fa-wallet text-white/30 text-xl mt-1"></i>
        </div>
      </div>
      <div class="relative z-10 mb-3">
        <p class="text-white/50 text-[9px] font-cinzel tracking-widest uppercase mb-0.5">Nomor Handphone</p>
        <p class="font-cinzel text-[17px] font-bold text-white tracking-wider" id="rekOvo">081269609359</p>
        <p class="text-white/60 text-[11px] font-inter mt-0.5">a.n. Rizal Fahmi</p>
      </div>
      <button id="btnCopyOvo" class="bank-copy-btn relative z-10">
        <i class="fa-regular fa-copy text-xs"></i> Salin Nomor
      </button>
    </div>

  </div>
</section>
